<h2>Debug</h2>

<mat-checkbox class="filterAccessible" checked="true" [(ngModel)]="adminService.filterAccessible">Hide Inaccessible
  Upgrades</mat-checkbox>
<br />

<mat-divider></mat-divider>
<br />

<div>
  <mat-select placeholder="Resource" style="width: 200px" [(ngModel)]="selectedResource">
    <mat-option *ngFor="let resource of resourcesService.getResources()" [value]="resource">
      {{resource.name | titlecase}}
    </mat-option>
  </mat-select>

  <mat-form-field>
    <input matInput [(ngModel)]="amount">
  </mat-form-field>
  <button mat-raised-button (click)="addResourceAmount()">Add to all resources</button>
  <div *ngIf="selectedResource !== undefined">
    <button mat-raised-button (click)="addResourceAmount(selectedResource)">Add to {{selectedResource.name |
      titlecase}}</button>
  </div>
</div>
