<ul class="resources noselect">
  <button mat-raised-button disabled="true" class="resource-button currency-button wood" [ngClass]="{'warn': resourceIsBeingStolen(goldResource)}">
    <div appTippy [tippyOptions]="{
      arrow: true,
      placement: 'right',
      delay: 0,
      html: '#tooltip-resource-' + goldResource.resourceEnum,
      popperOptions: {
        modifiers: {
          preventOverflow: {
            boundariesElement: 'window'
          }
        }
      }
    }">
      <mat-card-title class="button-text-stroke">{{goldResource.name | titlecase }}</mat-card-title>
      <mat-card-subtitle class="button-text-background">{{goldResource.amount | longNumber}}</mat-card-subtitle>

      <div class="harvest-icon-container">
        <img id="{{goldResource.name | resourceId}}" class="resource-img" src="assets/sprites/transparent.png" alt="{{goldResource.name}}">
      </div>
    </div>
  </button>

  <mat-accordion multi="true" *ngIf="organizeLeftPanelByType">
    <mat-expansion-panel class="steel" expanded="true" *ngFor="let resourceType of resourceTypes | enumToArray">
      <mat-expansion-panel-header *ngIf="resourceType !== 'Currency'">
        <mat-panel-title class="button-text-background">
          {{resourceType}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class='button-container' *ngFor="let resource of getResources(resourceType, game.admin.filterAccessible)"
        appTippy [tippyOptions]="{
          arrow: true,
          placement: 'right',
          delay: 0,
          html: '#tooltip-resource-' + resource.resourceEnum,
          popperOptions: {
            modifiers: {
              preventOverflow: {
                boundariesElement: 'window'
              }
            }
          }
        }">
        <button mat-raised-button class="resource-button wood" [ngClass]="{'warn': resourceIsBeingStolen(resource)}"
          [disabled]="!canHarvest(resource, resource.harvestYield)"
          (click)='startHarvesting(resource)'
          *ngIf="resource.resourceType != 'CURRENCY' && resource.resourceTier <= game.resources.highestTierReached + 1">

          <div class="key-container" *ngIf="resource.bindIndex >= 0">
            <img src="./assets/sprites/key.png">
            <p>{{resource.bindIndex}}</p>
          </div>

          <mat-card-title class="button-text-stroke">{{resource.name | titlecase }}</mat-card-title>
          <mat-card-subtitle class="button-text-background">{{resource.amount | longNumber}}</mat-card-subtitle>
          <mat-progress-bar [class.hidden]="!resource.harvesting" class="harvest-progress" [value]="resource.progressBarValue"></mat-progress-bar>

          <div class="harvest-icon-container">
            <img id="{{resource.name | resourceId}}" class="resource-img" src="assets/sprites/transparent.png" alt="{{resource.name}}">
          </div>
          <div class='travelling-count button-text' *ngIf="resource.amountTravelling > 0">{{resource.amountTravelling}}
            Travelling</div>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion multi="true" *ngIf="!organizeLeftPanelByType">
      <mat-expansion-panel class="transparent" expanded="true" *ngFor="let resourceTier of tiers">
        <mat-expansion-panel-header>
          <mat-panel-title class="button-text-background">
            Tier {{resourceTier + 1}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class='button-container' *ngFor="let resource of getResources(undefined, [resourceTier], game.admin.filterAccessible)"
          appTippy title="{{getTooltipMessage(resource)}}" [tippyOptions]="{arrow: true, placement: right}">
          <button mat-raised-button class="resource-button wood" [ngClass]="{'warn': resourceIsBeingStolen(resource)}"
            [disabled]="!canHarvest(resource, resource.harvestYield)" (click)='startHarvesting(resource)'
            *ngIf="resource.resourceTier <= game.resources.highestTierReached + 1 && resource.resourceType != 'CURRENCY'">
            <div class="key-container" *ngIf="resource.bindIndex >= 0">
              <img src="./assets/sprites/key.png">
              <p>{{resource.bindIndex}}</p>
            </div>

            <mat-card-title class="button-text-stroke">{{resource.name | titlecase }}</mat-card-title>
            <mat-card-subtitle class="button-text-background">{{resource.amount | longNumber}}</mat-card-subtitle>
            <mat-progress-bar [class.hidden]="!resource.harvesting" class="harvest-progress" [value]="resource.progressBarValue"></mat-progress-bar>

            <div class="harvest-icon-container">
              <img id="{{resource.name | resourceId}}" class="resource-img" src="assets/sprites/transparent.png" alt="{{resource.name}}">
            </div>
            <div class='travelling-count button-text' *ngIf="resource.amountTravelling > 0">{{resource.amountTravelling}}
              Travelling</div>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
</ul>
