/* HarvestComponent's private CSS styles */
.resources {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 25em;
}

.resources mat-expansion-panel {
  margin: 0;
}

.resources mat-expansion-panel-header {
  height: 30px !important;
}

.resources mat-card-title {
  margin-top: 0;
}

.resources mat-card-subtitle {
  position: absolute;
  top: 8px;
  right: 10px;
  font-weight: bold;
}

.resources .resource-button {
  position: relative;
  cursor: pointer;
  margin: .5em;
  padding: .4em 0;
  height: 3.6em;
  width: 100%;
  border-radius: 4px;
}

.resources .resource-button.warn {
  background-color: darkred;
}

.resources .resource-button:hover {
  left: .1em;
}

.resources .resource-button.mat-disabled,
.resources .resource-button[disabled] {
  cursor: default;
  color: black;
}

.resources .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: absolute;
  right: -9px;
  top: 1px;
  height: 1.8em;
  min-width: 16px;
  text-align: center;
  margin-right: .8em;
  border-radius: 0 4px 4px 0;
}

.button-container {
  position: relative;
}

.travelling-count {
  position: absolute;
  top: 22px;
  left: 50px;
}

.resource-button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

.resources button.resource-button.currency-button {
  width: 95%;
  cursor: auto;

  z-index: 2;

  position: sticky;
  top: 0;
  left: 5%;

  background-color: #eee;
  color: black;
}

.currency-button:hover {
  left: unset;
}

.harvest-progress {
  display: flex;
  align-content: center;
  align-items: center;

  height: 100%;
  top: 0px;

  position: absolute;
  opacity: 0.5;
}

.resource-img {
  position: absolute;

  top: 0;
  left: 0;
}

.key-container {
  position: absolute;
  left: 50px;
}

.key-container img {
  width: 24px;
  height: 24px;
}

.key-container p {
  z-index: 1;
  position: absolute;

  top: 9px;
  right: 5px;

  margin: 0;
  line-height: 0;
}
