.inventory {
  display: flex;

  float: right;
}

.inventory .slot {
  position: relative;
  width: 48px;
}

.inventory .background {
  z-index: 1;
}

.inventory .resource-img {
  position: absolute;
  z-index: 2;
}

.inventory .slot-size {
  position: absolute;

  -webkit-text-stroke: 1px black;
  color: white;

  font-size: 32px;

  bottom: 32px;
  right: 0;
  z-index: 3;
}
