Amount to sell:<mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="sellAmount">
  <mat-button-toggle value="1" checked="true">
    1x
  </mat-button-toggle>
  <mat-button-toggle value="10">
    10x
  </mat-button-toggle>
  <mat-button-toggle value="100">
    100x
  </mat-button-toggle>
  <mat-button-toggle value="1000">
    1000x
  </mat-button-toggle>
  <mat-button-toggle value="-1">
    All
  </mat-button-toggle>
</mat-button-toggle-group>

<ul class="store">
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true" *ngFor="let resourceType of sellableTypes">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{resourceType | titlecase}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button class="full-width" color='accent' mat-flat-button *ngFor="let resource of resourcesOfType(resourceType, true, adminService.filterAccessible)"
        (click)="sellResource(resource.id)" [disabled]="!canSellResource(resource.id)">
        {{resource.name | titlecase }} - {{resource.sellsFor * (+sellAmount === -1 ? resource.amount : sellAmount) | number:'0.0-2'}} Gold
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</ul>
