/* StoreComponent's private CSS styles */
.store {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 25em;
}

.store mat-expansion-panel {
  margin: 0;
}

.store mat-expansion-panel-header {
  height: 30px !important;
}

.store mat-card-subtitle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.store mat-card {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .4em 0;
  height: 1.6em;
  border-radius: 4px;
}

.store mat-card:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.store a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.store a:hover {
  color:#607D8B;
}

.store .harvestable {
  background-color: antiquewhite;
}

.store .harvestable:hover {
  background-color: blanchedalmond;
}

.store .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: absolute;
  right: -9px;
  top: 1px;
  height: 1.8em;
  min-width: 16px;
  text-align: center;
  margin-right: .8em;
  border-radius: 0 4px 4px 0;
}

.right {
  position: absolute;
  right: 3px;
  top: 3px;
}

button {
  min-width: unset;
  height: 27px;
  line-height: unset;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}