<mat-card id="unit-tooltip" class="steel">
  <div *ngIf="focusedUnit">
    <div id="card-header">
      <mat-card-title class="button-text-background">{{focusedUnit.name}}</mat-card-title>
      <mat-card-subtitle class="button-text-stroke">{{focusedUnit.description}}</mat-card-subtitle>

      <div class="repair-container">
        {{focusedUnit.health}}/{{focusedUnit.maxHealth | longNumber}} Health
        <div *ngIf="focusedUnit.health < focusedUnit.maxHealth">
          <button mat-raised-button (click)="focusedUnit.heal()" color="accent" [disabled]="!focusedUnit.canHeal()">
            Heal
            <div class="resource-list">
              <div matTooltip="{{focusedUnit.healCost | longNumber}} {{getResource('GOLD').name | titlecase}}"
                matTooltipPosition="below">
                <img id="{{getResource('GOLD').name | resourceId}}" class="resource-img slim-icon" src="assets/sprites/transparent.png"
                  alt="{{getResource('GOLD').name}}">
                {{focusedUnit.healCost | longNumber}}
              </div>
            </div>
          </button>
        </div>
      </div>
      <br />
      <br />

      <mat-button-toggle (click)="toggleFollowUnit()" [checked]="followingUnit">
        <mat-icon>videocam</mat-icon>
      </mat-button-toggle>
      <button mat-raised-button color="warn" (click)="removeUnit()">Remove Unit</button>

      <mat-form-field *ngIf="focusedHarvester">
        <mat-select placholder="Current Resource" [value]="focusedHarvester.currentResource" (valueChange)="setHarvesterTask($event)">
          <mat-option *ngFor="let resource of getResources(focusedHarvester.resourceType)" [value]="resource">
            {{resource.name | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="inventory">
        <div class="slot" *ngFor="let slot of focusedUnit.inventory">
          <div class="slot-size" *ngIf="slot.resourceEnum !== null">
              {{slot.amount}}
          </div>
          <img class="resource-img" *ngIf="slot.resourceEnum !== null" id="{{getResource(slot.resourceEnum).name | resourceId}}" src="assets/sprites/transparent.png"
            alt="{{getResource(slot.resourceEnum).name}}">
          <img class="background" src="assets/sprites/inventoryBack.png" width="48px" height="48px">
        </div>
      </div>
    </div>

    <mat-card-content id="card-content" *ngIf="focusedStats && focusedStats.statList.length">
      <table class="stats-container">
        <tbody>
          <tr class="stat-row" *ngFor="let stat of focusedStats.statList">
            <td>
              <p>
                {{focusedStats.getStatString(stat)}}
              </p>

            </td>
            <td>
              <b>
                Level {{focusedStats.statLevels.get(stat)}}
              </b>
            </td>

            <td>
              <button class="upgrade-button wood" color="accent" mat-raised-button (click)="focusedStats.upgradeStat(stat)"
                [disabled]="!focusedStats.canUpgradeStat(stat)" matTooltip="Level {{focusedStats.statLevels.get(stat) + 1}} {{focusedStats.getUpgradedStatString(stat)}}"
                matTooltipPosition="below">
                <mat-icon color="primary">arrow_upward</mat-icon>
                <div class="resource-list">
                  <div class="button-text-stroke">
                    <img id="{{getResource('GOLD').name | resourceId}}" class="resource-img slim-icon" src="assets/sprites/transparent.png"
                      alt="{{getResource('GOLD').name}}">
                    {{focusedStats.statCosts.get(stat) | longNumber}}
                  </div>
                </div>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </div>
</mat-card>
