<h3>Version {{settingsService.gameVersion}}</h3>

<mat-accordion multi="true">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary">save</mat-icon>
        Save/Load
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="full-width">
      <mat-select placeholder="Autosave Interval (Minutes)" [(ngModel)]="autosaveInterval" (valueChange)="settingsService.setAutosave()">
        <mat-option [value]="-1">Disable</mat-option>
        <mat-option [value]="60000">1</mat-option>
        <mat-option [value]="900000">15</mat-option>
        <mat-option [value]="1800000">30</mat-option>
        <mat-option [value]="3600000">60</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveGame()">Save</button>
    <button mat-raised-button color="warn" (click)="deleteGame()">Delete Save</button>

    <button mat-raised-button (click)="exportSave()">Export Save</button>
    <button mat-raised-button (click)="importSave()">Import Save</button>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon color="primary">list</mat-icon>
          Interface
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-checkbox [(ngModel)]="slimInterface">Slim Mode</mat-checkbox>
      <!-- <br />
      <mat-checkbox [(ngModel)]="disableAnimations">Disable Animations</mat-checkbox> -->
    </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary">map</mat-icon>
        Map
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-checkbox [(ngModel)]="mapLowFramerate">Limit Framerate</mat-checkbox>
    <br />

    <mat-form-field class="full-width">
      <input class="color-input" matInput placeholder="Player Harvest Color" [(colorPicker)]="harvestDetailColor" [style.background]="harvestDetailColor" [value]="harvestDetailColor"/>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input class="color-input" matInput placeholder="Worker Harvest Color" [(colorPicker)]="workerDetailColor" [style.background]="workerDetailColor" [value]="workerDetailColor"/>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary">assessment</mat-icon>
        Log
      </mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-raised-button (click)="messagesService.clear()">Clear</button>

    <br />

    <mat-form-field class="full-width">
      <input matInput type="number" placeholder="Log History" min="0" max="10000" [(ngModel)]="messagesService.messageLimit">
    </mat-form-field>

    <br />

    <mat-form-field class="full-width">
      <mat-select placeholder="Visible Log Sources" [(ngModel)]="messagesService.visibleSources" (ngModelChange)="messagesService.getFilteredMessages()" multiple>
        <mat-option *ngFor="let messageSource of messageSources | enumToArray" [(value)]="messageSources[messageSource]">
          {{messageSource | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary">bug_report</mat-icon>
        Debug
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-checkbox [(ngModel)]="debugMode">Debug Mode</mat-checkbox>
  </mat-expansion-panel>

  <!-- <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary">attach_money</mat-icon>
        Shameless Commercialism
      </mat-panel-title>
    </mat-expansion-panel-header>

    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=L6UNHAL6A8PDC" target="_blank">
      <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" alt="PayPal - The safer, easier way to pay online!">
    </a>

  </mat-expansion-panel> -->
</mat-accordion>
