h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

a {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  color: #607d8b;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}

a:visited, a:link {
  color: #607d8b;
}

a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

a.active {
  color: #039be5;
}

mat-form-field {
  background-color: white;

  border: gray;
  border-width: 2px;
  border-style: outset;
  border-radius: 7px;
}

mat-panel-title {
  display: grid;
}

mat-expansion-panel {
  margin: 0;
}

.color-input {
    color: rgb(108, 88, 88);
    font-weight: bolder;
}

.full-width {
  width: 100%;
}
