<mat-card appSnap [snapSetting]="snapSetting" id="tile-tooltip">
  <div class="anchor-container">
    <a>
      <mat-icon class="corner" id="arrow-upper-left" (click)="snapSetting = 'upperLeft'">arrow_forward</mat-icon>
    </a>
    <a>
      <mat-icon class="corner" id="arrow-upper-right" (click)="snapSetting = 'upperRight'">arrow_forward</mat-icon>
    </a>
    <a>
      <mat-icon id="center" (click)="snapSetting = 'free'">all_out</mat-icon>
    </a>
    <a>
      <mat-icon class="corner" id="arrow-lower-left" (click)="snapSetting = 'lowerLeft'">arrow_forward</mat-icon>
    </a>
    <a>
      <mat-icon class="corner" id="arrow-lower-right" (click)="snapSetting = 'lowerRight'">arrow_forward</mat-icon>
    </a>
  </div>
  <div *ngIf="focusedBuildingTile">
    <mat-card-title>{{focusedBuildingTile.name}}</mat-card-title>
    <mat-card-subtitle>{{focusedBuildingTile.description}}</mat-card-subtitle>
    <div class="repair-container">
      {{focusedTile.health}}/{{focusedTile.maxHealth}} Health
      <div *ngIf="focusedTile.health < focusedTile.maxHealth">
        <button mat-raised-button (click)="repairBuilding(focusedTile)" color="accent" [disabled]="!canRepairBuilding(focusedTile)">
          Repair
          <div class="resource-list">
            <div matTooltip="{{focusedBuildingTile.repairCostPerPoint * (focusedTile.maxHealth - focusedTile.health)}} {{getResource(focusedBuildingTile.repairResourceEnum).name | titlecase}}"
              matTooltipPosition="below">
              <img src="{{getResource(focusedBuildingTile.repairResourceEnum).iconPath}}" alt="{{getResource(focusedBuildingTile.repairResourceEnum).name}}">
              {{focusedBuildingTile.repairCostPerPoint * (focusedTile.maxHealth - focusedTile.health)}}
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!focusedBuildingTile && focusedResourceTile">
    <mat-card-title>{{focusedResourceTile.name}}</mat-card-title>
  </div>

  <mat-card-content *ngIf="focusedTile">
    <div *ngIf="focusedResourceTile" class="resource-list">
      Travel Time: {{focusedTile.buildingPath.length / this.mapService.tileAnimationSpeed / 1000 | number:'0.0-2'}}
      Seconds
      <br />
      Produces:
      <div *ngFor="let resource of focusedResources">
        <img src="{{resource.iconPath}}" alt="{{resource.name}}"> {{resource.name | titlecase}}
      </div>
    </div>
    <div *ngIf="focusedBuildingTile && focusedBuildingTile.upgradeBuilding">
      <h3>Upgrade</h3>
      <button mat-raised-button (click)="upgradeBuilding(focusedTile)" color="accent" [disabled]="!canAffordUpgrade(this.mapService.buildingTiles[focusedBuildingTile.upgradeBuilding])">
        <div class="title" matTooltip="{{this.mapService.buildingTiles[focusedBuildingTile.upgradeBuilding].description}}"
          matTooltipPosition="above">
          {{this.mapService.buildingTiles[focusedBuildingTile.upgradeBuilding].name}}
        </div>
        <div class="resource-list">
          <div *ngFor="let resourceCost of mapService.buildingTiles[focusedBuildingTile.upgradeBuilding].resourceCosts"
            matTooltip="{{resourceCost.resourceCost}} {{getResource(resourceCost.resourceEnum).name | titlecase}}"
            matTooltipPosition="below">
            <img src="{{getResource(resourceCost.resourceEnum).iconPath}}" alt="{{getResource(resourceCost.resourceEnum).name}}">
            {{resourceCost.resourceCost}}
          </div>
        </div>
      </button>
    </div>

    <div *ngIf="focusedTile.market">
      Profit (Average of recent sales): {{focusedTile.market.averageRecentProfit | number:'0.0-2'}} {{getResource('GOLD').name | titlecase}}/Second
    </div>

    <h3>Stats</h3>
      <table class="stats-container">
        <tbody>
          <tr class="stat-row">
            <td>
              <p>
                Max Health: {{focusedTile.maxHealth | number:'1.0-2'}}
              </p>
            </td>
            <td>
              <b>
                Level {{focusedTile.statLevels['MAXHEALTH']}}
              </b>
            </td>
            <td>
              <button class="upgrade-button" color="accent" mat-raised-button (click)="focusedTile.upgradeStat('MAXHEALTH')"
                [disabled]="!focusedTile.canUpgradeStat('MAXHEALTH')" matTooltip="Level {{focusedTile.statLevels['MAXHEALTH'] + 1}}: {{focusedTile.getUpgradedStat('MAXHEALTH') | number:'1.0-2'}} Max Health"
                matTooltipPosition="below">
                <mat-icon color="primary">arrow_upward</mat-icon>
                <div class="resource-list">
                  <div>
                    <img src="{{getResource('GOLD').iconPath}}" alt="{{getResource('GOLD').name}}">
                    {{focusedTile.statCosts['MAXHEALTH'] | number:'1.0-0'}}
                  </div>
                </div>
              </button>
            </td>
          </tr>

          <tr class="stat-row" *ngIf="focusedTile.market">
            <td>
              <p>
                Sell Rate: {{1000 / focusedTile.market.sellInterval | number:'1.0-2'}} Sale{{focusedTile.market.sellInterval === 1000 ? '' : 's'}}/Second
              </p>
            </td>
            <td>
              <b>
                Level {{focusedTile.statLevels['SELLRATE']}}
              </b>
            </td>
            <td>
              <button class="upgrade-button" color="accent" mat-raised-button (click)="focusedTile.upgradeStat('SELLRATE')"
                [disabled]="!focusedTile.canUpgradeStat('SELLRATE')" matTooltip="Level {{focusedTile.statLevels['SELLRATE'] + 1}}: {{1000 / focusedTile.getUpgradedStat('SELLRATE') | number:'1.0-2'}} Sales/Second"
                matTooltipPosition="below">
                <mat-icon color="primary">arrow_upward</mat-icon>
                <div class="resource-list">
                  <div>
                    <img src="{{getResource('GOLD').iconPath}}" alt="{{getResource('GOLD').name}}">
                    {{focusedTile.statCosts['SELLRATE'] | number:'1.0-0'}}
                  </div>
                </div>
              </button>
            </td>
          </tr>

          <tr class="stat-row" *ngIf="focusedTile.market">
            <td>
              <p>
                Sell Amount: {{focusedTile.market.sellQuantity | number:'1.0-2'}} Items/Sale
              </p>
            </td>
            <td>
              <b>
                Level {{focusedTile.statLevels['SELLAMOUNT']}}
              </b>
            </td>
            <td>
              <button class="upgrade-button" color="accent" mat-raised-button (click)="focusedTile.upgradeStat('SELLAMOUNT')"
                [disabled]="!focusedTile.canUpgradeStat('SELLAMOUNT')" matTooltip="Level {{focusedTile.statLevels['SELLAMOUNT'] + 1}}: {{focusedTile.getUpgradedStat('SELLAMOUNT') | number:'1.0-2'}} Items/Sale"
                matTooltipPosition="below">
                <mat-icon color="primary">arrow_upward</mat-icon>
                <div class="resource-list">
                  <div>
                    <img src="{{getResource('GOLD').iconPath}}" alt="{{getResource('GOLD').name}}">
                    {{focusedTile.statCosts['SELLAMOUNT'] | number:'1.0-0'}}
                  </div>
                </div>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  </mat-card-content>
</mat-card>
