<mat-card appSnap [snapSetting]="snapSetting" id="tile-tooltip">
  <div class="anchor-container">
    <a>
      <mat-icon class="corner" id="arrow-upper-left" (click)="snapSetting = 'upperLeft'">arrow_forward</mat-icon>
    </a>
    <a>
      <mat-icon class="corner" id="arrow-upper-right" (click)="snapSetting = 'upperRight'">arrow_forward</mat-icon>
    </a>
    <a>
      <mat-icon id="center" (click)="snapSetting = 'free'">all_out</mat-icon>
    </a>
    <a>
      <mat-icon class="corner" id="arrow-lower-left" (click)="snapSetting = 'lowerLeft'">arrow_forward</mat-icon>
    </a>
    <a>
      <mat-icon class="corner" id="arrow-lower-right" (click)="snapSetting = 'lowerRight'">arrow_forward</mat-icon>
    </a>
  </div>
  <div *ngIf="focusedBuildingNode">
    <mat-card-title>{{focusedBuildingData.name}}</mat-card-title>
    <mat-card-subtitle>{{focusedBuildingData.description}}</mat-card-subtitle>
    <div class="repair-container">
      {{focusedBuildingNode.health}}/{{focusedBuildingNode.maxHealth}} Health
      <div *ngIf="focusedBuildingNode.health < focusedBuildingNode.maxHealth">
        <button mat-raised-button (click)="repairBuilding(focusedTile)" color="accent" [disabled]="!canRepairBuilding(focusedTile)">
          Repair
          <div class="resource-list">
            <div matTooltip="{{focusedBuildingData.repairCostPerPoint * (focusedBuildingNode.maxHealth - focusedBuildingNode.health)}} {{getResource(focusedBuildingData.repairResourceEnum).name | titlecase}}"
              matTooltipPosition="below">
              <img src="{{getResource(focusedBuildingData.repairResourceEnum).iconPath}}" alt="{{getResource(focusedBuildingData.repairResourceEnum).name}}">
              {{focusedBuildingData.repairCostPerPoint * (focusedBuildingNode.maxHealth - focusedBuildingNode.health)}}
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!focusedBuildingNode && focusedResourceNode">
    <mat-card-title>{{focusedResourceData.name}}</mat-card-title>
  </div>

  <mat-card-content *ngIf="focusedTile">
    <div *ngIf="focusedResourceNode" class="resource-list">
      Travel Time: {{focusedResourceNode.path.length / this.mapService.tileAnimationSpeed / 1000 | longNumber}}
      Seconds
      <br />
      Produces:
      <div *ngFor="let resource of focusedResources">
        <img src="{{resource.iconPath}}" alt="{{resource.name}}"> {{resource.name | titlecase}}
      </div>
    </div>
    <div *ngIf="focusedBuildingNode && focusedBuildingData.upgradeBuilding">
      <h3>Upgrade</h3>
      <button mat-raised-button (click)="upgradeBuilding(focusedTile)" color="accent" [disabled]="!canAffordUpgrade(upgradedBuildingData)">
        <div class="title" matTooltip="{{upgradedBuildingData.description}}"
          matTooltipPosition="above">
          {{upgradedBuildingData.name}}
        </div>
        <div class="resource-list">
          <div *ngFor="let resourceCost of upgradedBuildingData.resourceCosts"
            matTooltip="{{resourceCost.resourceCost}} {{getResource(resourceCost.resourceEnum).name | titlecase}}"
            matTooltipPosition="below">
            <img src="{{getResource(resourceCost.resourceEnum).iconPath}}" alt="{{getResource(resourceCost.resourceEnum).name}}">
            {{resourceCost.resourceCost}}
          </div>
        </div>
      </button>
    </div>

    <div *ngIf="focusedTile.market">
      Profit (Average of recent sales): {{focusedTile.market.averageRecentProfit | longNumber}} {{getResource('GOLD').name | titlecase}}/Second
    </div>

    <h3>Stats</h3>
      <table class="stats-container">
        <tbody>
          <tr class="stat-row">
            <td>
              <p>
                Max Health: {{focusedTile.maxHealth | longNumber}}
              </p>
            </td>
            <td>
              <b>
                Level {{focusedTile.statLevels['MAXHEALTH']}}
              </b>
            </td>
            <td>
              <button class="upgrade-button" color="accent" mat-raised-button (click)="focusedTile.upgradeStat('MAXHEALTH')"
                [disabled]="!focusedTile.canUpgradeStat('MAXHEALTH')" matTooltip="Level {{focusedTile.statLevels['MAXHEALTH'] + 1}}: {{focusedTile.getUpgradedStat('MAXHEALTH') | longNumber}} Max Health"
                matTooltipPosition="below">
                <mat-icon color="primary">arrow_upward</mat-icon>
                <div class="resource-list">
                  <div>
                    <img src="{{getResource('GOLD').iconPath}}" alt="{{getResource('GOLD').name}}">
                    {{focusedTile.statCosts['MAXHEALTH'] | longNumber}}
                  </div>
                </div>
              </button>
            </td>
          </tr>

          <tr class="stat-row" *ngIf="focusedTile.market">
            <td>
              <p>
                Sell Rate: {{1000 / focusedTile.market.sellInterval | longNumber}} Sale{{focusedTile.market.sellInterval === 1000 ? '' : 's'}}/Second
              </p>
            </td>
            <td>
              <b>
                Level {{focusedTile.statLevels['SELLRATE']}}
              </b>
            </td>
            <td>
              <button class="upgrade-button" color="accent" mat-raised-button (click)="focusedTile.upgradeStat('SELLRATE')"
                [disabled]="!focusedTile.canUpgradeStat('SELLRATE')" matTooltip="Level {{focusedTile.statLevels['SELLRATE'] + 1}}: {{1000 / focusedTile.getUpgradedStat('SELLRATE') | longNumber}} Sales/Second"
                matTooltipPosition="below">
                <mat-icon color="primary">arrow_upward</mat-icon>
                <div class="resource-list">
                  <div>
                    <img src="{{getResource('GOLD').iconPath}}" alt="{{getResource('GOLD').name}}">
                    {{focusedTile.statCosts['SELLRATE'] | longNumber}}
                  </div>
                </div>
              </button>
            </td>
          </tr>

          <tr class="stat-row" *ngIf="focusedTile.market">
            <td>
              <p>
                Sell Amount: {{focusedTile.market.sellQuantity | longNumber}} Items/Sale
              </p>
            </td>
            <td>
              <b>
                Level {{focusedTile.statLevels['SELLAMOUNT']}}
              </b>
            </td>
            <td>
              <button class="upgrade-button" color="accent" mat-raised-button (click)="focusedTile.upgradeStat('SELLAMOUNT')"
                [disabled]="!focusedTile.canUpgradeStat('SELLAMOUNT')" matTooltip="Level {{focusedTile.statLevels['SELLAMOUNT'] + 1}}: {{focusedTile.getUpgradedStat('SELLAMOUNT') | longNumber}} Items/Sale"
                matTooltipPosition="below">
                <mat-icon color="primary">arrow_upward</mat-icon>
                <div class="resource-list">
                  <div>
                    <img src="{{getResource('GOLD').iconPath}}" alt="{{getResource('GOLD').name}}">
                    {{focusedTile.statCosts['SELLAMOUNT'] | longNumber}}
                  </div>
                </div>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  </mat-card-content>
</mat-card>
