<ul class="resources noselect">
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true" *ngFor="let resourceType of resourceTypes | enumToArray">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{resourceType}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class='button-container' *ngFor="let resource of resourcesOfType(resourceType, adminService.filterAccessible)">
        <button mat-raised-button class="resource-button" [ngClass]="{'warn': resourceIsBeingStolen(resource.id)}"
          [disabled]="!canHarvest(resource.id)" [id]="resource.id" (click)='startHarvesting(resource.id)'
          matTooltip="{{getTooltipMessage(resource.id)}}" matTooltipPosition="right">

          <mat-card-title>{{resource.name | titlecase }}</mat-card-title>
          <mat-card-subtitle>{{resource.amount | number:'1.0-0'}}</mat-card-subtitle>
          <mat-progress-bar [class.hidden]="!resource.harvesting" class="harvest-progress" [mode]="progressBarMode" [value]="resource.progressBarValue"></mat-progress-bar>

          <img class="resource-img" src="{{resource.iconPath}}" alt="{{resource.name}}" *ngIf="resource.iconPath !== ''">
          <div class='travelling-count' *ngIf="resource.amountTravelling > 0">{{resource.amountTravelling}} Travelling</div>
        </button>

        <div *ngIf="adminService.editMode">
          <br />
          <button (click)="editResource(resource.id)">Edit {{resource.name | titlecase}}</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ul>
