<ul class="workers">
  <mat-checkbox [(ngModel)]="workersPaused" color="accent">Pause Workers</mat-checkbox>
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true" *ngFor="let worker of getWorkers(true, true, true)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{worker.resourceType | titlecase}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button mat-raised-button [color]="canAfford(worker.id) ? 'accent' : 'disabled'" (click)="hireWorker(worker.id)">
        <mat-card-title>{{worker.workerCount}} Workers ({{worker.freeWorkers}} Idle)</mat-card-title>
        <mat-card-subtitle>{{worker.cost | number}} Gold</mat-card-subtitle>
      </button>

      <div *ngFor="let resourceWorker of getAccessibleResourceWorkers(worker)">
        <mat-card [ngClass]="{'resource-disabled': !canHarvest(resourceWorker.resourceId)}"
        *ngIf="shouldShowResource(resourceWorker.resourceId)" matTooltip="{{getTooltipMessage(resourceWorker.resourceId)}}" matTooltipPosition="right">
          <mat-card-title [style.color]="canHarvest(resourceWorker.resourceId) ? 'black' : 'red'">
            {{getResource(resourceWorker.resourceId).name | titlecase}}
          </mat-card-title>
          <div class="path-broken-warn" *ngIf="!pathAvailable(resourceWorker.resourceId)">(Path Broken)</div>
          <mat-card-subtitle>
            Workers: <input class="worker-input" type="number" min="0" [max]="worker.workerCount"
              [(ngModel)]="resourceWorker.sliderSetting" (input)="checkSliderValue(resourceWorker.resourceId)" (change)="updateResourceWorker(resourceWorker.resourceId, resourceWorker.sliderSetting)"/>
          </mat-card-subtitle>
          <mat-slider [color]="resourceWorker.sliderSettingValid ? 'accent' : 'warn'" [id]="resourceWorker.resourceId" [max]="worker.workerCount"
              [disabled]="!pathAvailable(resourceWorker.resourceId)" [tickInterval]="1" [(ngModel)]="resourceWorker.sliderSetting"
              (input)="checkSliderValue($event)" (change)="updateResourceWorker($event)">
          </mat-slider>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ul>
