/* WorkersComponent's private CSS styles */
.workers {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 25em;
}

.workers mat-expansion-panel {
  margin: 0;
}

.workers mat-expansion-panel-header {
  height: 30px !important;
}

.workers mat-card-title {
  text-align: left;
}

.workers mat-card-subtitle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.workers mat-slider {
  width: 100%;
  top: -22px;
}

.workers mat-card {
  position: relative;
  cursor: pointer;
  margin: .5em;
  padding: .4em 0;
  height: 3.6em;
  width: 100%;
  border-radius: 4px;
}

.workers button {
  position: relative;
  cursor: pointer;
  margin: .5em;
  padding: .4em 0;
  height: 3.6em;
  width: 100%;
  border-radius: 4px;
}

.workers button:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.workers a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.workers a:hover {
  color:#607D8B;
}

.workers .harvestable {
  background-color: antiquewhite;
}

.workers .harvestable:hover {
  background-color: blanchedalmond;
}

.workers .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: absolute;
  right: -9px;
  top: 1px;
  height: 1.8em;
  min-width: 16px;
  text-align: center;
  margin-right: .8em;
  border-radius: 0 4px 4px 0;
}

.path-broken-warn {
  position: absolute;
  top: 5px;
  right: 85px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}
