<ul class="workers">
  <mat-checkbox [(ngModel)]="workersPaused" color="accent" class="button-text-background">Pause Workers</mat-checkbox>

  <mat-card class="hunger-card">
    <mat-card-title>
      Food Supply - {{foodStockpile | longNumber}}/{{foodCapacity | longNumber}}
    </mat-card-title>
    <mat-progress-bar mode="determinate" [value]="foodPercentage" [color]="foodPercentage < 20 ? 'warn' : 'accent'"></mat-progress-bar>
  </mat-card>

  <mat-accordion multi="true">
    <mat-expansion-panel class="steel" expanded="true" *ngFor="let worker of getWorkers(true, true, true)">
      <mat-expansion-panel-header>
        <mat-panel-title class="button-text-background">
          {{worker.resourceType | titlecase}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button mat-raised-button class="wood" [color]="worker.canAffordToHire() ? 'accent' : 'disabled'" (click)="worker.hireWorker()" [disabled]="!worker.canAffordToHire()">
        <mat-card-title class="button-text">{{worker.workerCount}} Workers ({{worker.freeWorkers}} Idle)</mat-card-title>
        <mat-card-subtitle class="button-text-background">{{worker.cost | longNumber}} Gold</mat-card-subtitle>
      </button>

      <div *ngFor="let resourceWorker of getAccessibleResourceWorkers(worker)">
        <mat-card [ngClass]="{'resource-disabled': !canHarvest(resourceWorker.resourceEnum)}"
        *ngIf="shouldShowResource(resourceWorker.resourceEnum)" matTooltip="{{getTooltipMessage(resourceWorker.resourceEnum)}}" matTooltipPosition="right">
          <mat-card-title [style.color]="canHarvest(resourceWorker.resourceEnum) ? 'black' : 'red'">
            {{getResource(resourceWorker.resourceEnum).name | titlecase}}
          </mat-card-title>
          <div class="path-broken-warn" *ngIf="!pathAvailable(resourceWorker.resourceEnum)">(Path Broken)</div>
          <mat-card-subtitle>
            Workers: <input class="worker-input" type="number" min="0" [max]="worker.workerCount"
              [(ngModel)]="resourceWorker.sliderSetting" (input)="checkSliderValue(resourceWorker.resourceEnum)" (change)="updateResourceWorker(resourceWorker.resourceEnum, resourceWorker.sliderSetting)"/>
          </mat-card-subtitle>
          <mat-slider [color]="resourceWorker.sliderSettingValid ? 'accent' : 'warn'" [id]="resourceWorker.resourceEnum" [max]="worker.workerCount"
              [tickInterval]="1" [(ngModel)]="resourceWorker.sliderSetting" (input)="checkSliderValue($event)" (change)="updateResourceWorker($event)">
          </mat-slider>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ul>
