<mat-checkbox class="hidePurchased" checked="true" [(ngModel)]="hidePurchased">Hide Purchased Upgrades</mat-checkbox>
<br />
<br />

<div class="upgrades">
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true" *ngFor="let upgradeType of upgradeTypes | enumToArray">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{upgradeType}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngFor="let upgrade of upgradesOfType(upgradeType, false, hidePurchased, true)">
        <mat-divider></mat-divider>
        <button mat-raised-button color="accent"
          [disabled]='!canAffordUpgrade(upgrade.id)'
          (click)='purchaseUpgrade(upgrade.id)'>
          <mat-card-title>{{upgrade.name}}</mat-card-title>
        </button>
        <mat-card-subtitle>{{upgradesService.getUpgradeTypeString(upgrade.id)}}</mat-card-subtitle>
        <mat-card-content>
          {{upgrade.description}}
          <br />
          <h3>Costs</h3>
          <div *ngFor="let resourceCost of upgrade.resourceCosts">
            {{resourcesService.resources[resourceCost.resourceId].name | titlecase }}: {{resourceCost.resourceCost}}
          </div>
        </mat-card-content>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
