<mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selectedBuilding"
class="buildings">
<mat-button-toggle *ngFor="let buildingTile of getBuildingTileArray(true)" [value]="buildingTile" class="building wood"
  [disabled]="!canPlaceBuilding(buildingTile.tileType)" (click)="game.map.buildingListVisible = false">
  <div class="title button-text" matTooltip="{{buildingTile.description}}" matTooltipPosition="above">
    {{buildingTile.name}}
  </div>
  <div class="resource-list">
    <div *ngFor="let resourceCost of buildingTile.resourceCosts" matTooltip="{{resourceCost.resourceCost}} {{getResource(resourceCost.resourceEnum).name | titlecase}}"
      matTooltipPosition="below" class="button-text">
      <img id="{{getResource(resourceCost.resourceEnum).name | resourceId}}" class="resource-img slim-icon" src="assets/sprites/transparent.png" alt="{{getResource(resourceCost.resourceEnum).name}}">
      {{resourceCost.resourceCost | longNumber}}
    </div>
  </div>
</mat-button-toggle>
</mat-button-toggle-group>
