<ul class="workers">
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true" *ngFor="let resourceType of resourceTypes | enumToArray">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{resourceType}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button mat-raised-button *ngFor="let resource of resourcesOfType(resourceType, true, true)" (click)="hireWorker(resource.id)"
      [color]="canAfford(resource.id) ? 'accent' : 'disabled'"
        matTooltip="{{getTooltipMessage(resource.id)}}" matTooltipPosition="right">
        <mat-card-title>{{resource.name | titlecase }}</mat-card-title>
        <mat-card-subtitle>{{resource.worker.workerCount}} Workers | {{resource.worker.cost | number:'1.0-0'}} Gold</mat-card-subtitle>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</ul>
