<ul class="workers">
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true" *ngFor="let resourceType of resourceTypes | enumToArray">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{resourceType}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button mat-raised-button *ngFor="let worker of workersOfType(resourceType, true)" (click)="hireWorker(worker.id)"
      [color]="canAfford(worker.id) ? 'accent' : 'disabled'"
        matTooltip="{{getTooltipMessage(worker.id)}}" matTooltipPosition="right">
        <mat-card-title>{{resourcesService.resources[worker.resourceId].name | titlecase }}</mat-card-title>
        <mat-card-subtitle>{{worker.workerCount}} Workers | {{worker.cost | number:'1.0-0'}} Gold</mat-card-subtitle>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</ul>