<table mat-table [dataSource]="game.messages.messagesDataSource" matSort matSortActive="timestamp" matSortDirection="desc" class="message-table mat-elevation-z8">
    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Source </mat-header-cell>
      <mat-cell *matCellDef="let message"> {{message.source | titlecase}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </mat-header-cell>
        <mat-cell *matCellDef="let message"> {{message.timestamp | date:'h:mm a'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Message </mat-header-cell>
      <mat-cell *matCellDef="let message"> {{message.message}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="wood"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="steel"></mat-row>
  </table>
