<div class="game-container" [class.game-is-mobile]="mobileQuery.matches" [@.disabled]="disableAnimations">
  <mat-toolbar color="primary" class="game-toolbar">
    <h1 class="game-app-name">Age of Clicking</h1>
    <div class="sidenav-buttons">
      <button mat-flat-button (click)="hideResourceList = !hideResourceList">
        <mat-icon>map</mat-icon><p class="toolbar-button-text" *ngIf="!mobileQuery.matches">Expand Map</p>
      </button>
      <button mat-flat-button (click)="snav.toggle()" [matBadge]="affordableUpgradeCount" [matBadgeHidden]="affordableUpgradeCount <= 0" matBadgePosition="before" matBadgeColor="accent">
        <mat-icon>menu</mat-icon><p class="toolbar-button-text" *ngIf="!mobileQuery.matches">Menu</p>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="game-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" [fixedInViewport]="mobileQuery.matches" position="end"
      fixedTopGap="56">
      <mat-nav-list>
        <mat-tab-group class="tab-group" dynamicHeight>
          <mat-tab label="Buildings">
            <app-buildings></app-buildings>
          </mat-tab>
          <mat-tab label="Fighters">
            <app-fighter></app-fighter>
            <app-enemy></app-enemy>
          </mat-tab>
          <mat-tab label="Workers">
            <app-workers></app-workers>
          </mat-tab>
          <mat-tab label="Store">
            <app-store></app-store>
          </mat-tab>
          <mat-tab label="Upgrades{{affordableUpgradeCount > 0 ? ' (' + affordableUpgradeCount + ')' : ''}}">
            <app-upgrades></app-upgrades>
          </mat-tab>
          <mat-tab label="Log">
            <app-messages></app-messages>
          </mat-tab>
          <mat-tab label="Settings">
            <app-settings></app-settings>
            <app-admin-debug *ngIf="debugMode"></app-admin-debug>
          </mat-tab>
        </mat-tab-group>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-pane">
        <app-clicker-main class="resource-list" [style.display]="hideResourceList? 'none': ''"></app-clicker-main>
        <app-map class="map" [style.display]="mobileQuery.matches && !hideResourceList? 'none': ''"></app-map>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
