<h1>Clicker Game</h1>

<app-clicker-main></app-clicker-main>

<mat-tab-group dynamicHeight>
  <mat-tab label="Workers">
    <app-workers></app-workers>
  </mat-tab>
  <mat-tab label="Store">
    <app-store></app-store>
  </mat-tab>
  <mat-tab label="Upgrades">
    <app-upgrades></app-upgrades>
  </mat-tab>
</mat-tab-group>

<mat-card class="debug-pane" *ngIf="debugMode">
  <h1>Admin Dashboard</h1>
  <mat-checkbox class="debug-toggle" [(ngModel)]="debugPaneOpen">Debug Pane Visible</mat-checkbox>
  <mat-tab-group dynamicHeight *ngIf="debugPaneOpen">
      <mat-tab label="Debug">
        <app-admin-debug></app-admin-debug>
      </mat-tab>
      <mat-tab label="Resource Configuration">
        <app-admin-resource-configuration></app-admin-resource-configuration>
      </mat-tab>
      <mat-tab label="Upgrade Configuration">
        <app-admin-upgrade-configuration></app-admin-upgrade-configuration>
      </mat-tab>
    </mat-tab-group>
  <app-messages></app-messages>
</mat-card>
