<h1>Age of Clicking - Version {{settingsService.ersion}}</h1>

<div class="main-pane">
  <app-clicker-main class="resource-list"></app-clicker-main>
  <app-map class="map"></app-map>
</div>
<!-- <app-enemy></app-enemy> -->
<!-- <app-fighter></app-fighter> -->

<mat-tab-group class="tab-group" dynamicHeight [matBadge]="affordableUpgradeCount" [matBadgeHidden]="affordableUpgradeCount <= 0" matBadgePosition="before" matBadgeColor="accent">
  <mat-tab label="Workers">
    <app-workers></app-workers>
  </mat-tab>
  <mat-tab label="Store">
    <app-store></app-store>
  </mat-tab>
  <mat-tab label="Upgrades">
    <app-upgrades></app-upgrades>
  </mat-tab>
  <mat-tab label="Settings">
    <app-settings></app-settings>
  </mat-tab>
  <mat-tab label="Debug" *ngIf="debugMode">
  <app-admin-debug></app-admin-debug>
  <app-messages></app-messages>
  </mat-tab>
</mat-tab-group>
