<h1>Age Of Clicking - Version Alpha 3.2</h1>
<br />

<div>
  An exploration-based incremental game by Ratheronfire.
  <br />
  Thanks to the <a href="http://reddit.com/r/incremental_games/" target="_blank">/r/incremental_games</a> community for helping to test the game!
  <br />
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8DTWKHUT9DYZN" target="_blank">Donate</a> If you enjoyed the game and want to help support me, feel free to drop a few bucks here! It's not at all required, but it's appreciated.

  <div>
    <h2>Also Check Out:</h2>
    <li>
      <a href="http://orteil.dashnet.org/cookieclicker/" target="_blank">Cookie Clicker</a> The incremental game that started them all!
    </li>
    <li>
      <a href="http://scholtek.com/minedefense" target="_blank">Mine Defense</a> A seemingly simple game with a surprising amount of depth.
    </li>
    <li>
      <a href="http://bloodrizer.ru/games/kittens/" target="_blank">Kittens Game</a> Filled with gradually unfolding systems and resources that all feed off of eachother.
    </li>
  </div>
</div>

<div>
  <h2>Version History</h2>

  Pre-Alpha 3
  <li>
    Complete lack of usable UI
  </li>
  <li>
    Only a few resources & upgrades were added at this point.
  </li>

  <br />
  Alpha 3
  <li>
    UI Overhaul
  </li>
  <li>
    New map mystem
  </li>
  <li>
    Expanded endgame resources
  </li>
  <li>
    Added enemies, tower defense, and tile upgrading.
  </li>
  <li>
    Added new market resources which automatically sell your stored resources.
  </li>
</div>
