<h1>Age Of Clicking - Version Alpha 4.0</h1>
<br />

<div>
  An exploration-based incremental game by Ratheronfire.
  <br />
  Thanks to the <a href="http://reddit.com/r/incremental_games/" target="_blank">/r/incremental_games</a> community for helping to test the game!
  <br />

  <div>
    <h2>Links</h2>
    <li>
      <a href="https://github.com/Ratheronfire/AgeOfClicking">Age of Clicking Git Repository</a>
    </li>
    <li>
      <a href="https://discord.gg/ZXw73C9">Age of Clicking Discord Group</a>
    </li>
    <li>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8DTWKHUT9DYZN" target="_blank">Donate</a> If you enjoyed the game and want to help support me, feel free to drop a few bucks here! It's not at all required, but it's appreciated.
    </li>
  </div>

  <div>
    <h2>Also Check Out:</h2>
    <li>
      <a href="http://orteil.dashnet.org/cookieclicker/" target="_blank">Cookie Clicker</a> The incremental game that started them all!
    </li>
    <li>
      <a href="http://scholtek.com/minedefense" target="_blank">Mine Defense</a> A seemingly simple game with a surprising amount of depth.
    </li>
    <li>
      <a href="http://bloodrizer.ru/games/kittens/" target="_blank">Kittens Game</a> Filled with gradually unfolding systems and resources that all feed off of eachother.
    </li>
  </div>
</div>

<div>
  <h2>Version History</h2>

  Alpha 4
  <li>
    Massive overhaul to the map codebase
  </li>
  <li>
    Integrated the Phaser game development library
  </li>
  <li>
    New tileset sprites and UI design
  </li>
  <li>
    Numerous bugfixes and improvements
  </li>
  <li>
    Walls actually work now!
  </li>

  <br />
  Alpha 3
  <li>
    UI Overhaul
  </li>
  <li>
    New map mystem
  </li>
  <li>
    Expanded endgame resources
  </li>
  <li>
    Added enemies, tower defense, and tile upgrading.
  </li>
  <li>
    Added new market resources which automatically sell your stored resources.
  </li>
  <li>
    Added food resources used to keep workers active.
  </li>

  <br />
  Pre-Alpha 3
  <li>
    Complete lack of usable UI
  </li>
  <li>
    Only a few resources & upgrades were added at this point.
  </li>
</div>
