<button mat-raised-button color="primary" (click)="previousResource()" [disabled]="!previousResourceExists()">Previous</button>
<button mat-raised-button color="primary" (click)="nextResource()" [disabled]="!nextResourceExists()"> Next</button>
<button mat-raised-button color="accent" (click)="newResource()">Add New</button>
<br />
<button mat-raised-button color="accent" (click)="stringifyResource()">Export to JSON</button>
<button mat-raised-button color="accent" (click)="stringifyResources()">Export All Resources to JSON</button>
<button mat-raised-button color="accent" (click)="stringifyWorkers()">Export Workers to JSON</button>

<mat-card>
  <mat-card-title mat-line>ID:</mat-card-title>
  <mat-card-content mat-line>{{resource.id}}</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title mat-line>Name:</mat-card-title>
  <mat-card-content mat-line>
    <input matInput placeholder="Name" [(ngModel)]="resource.name">
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title mat-line>Resource Type:</mat-card-title>
  <mat-card-content mat-line>
    <mat-form-field>
      <mat-select [(ngModel)]="resource.resourceType">
        <mat-option placeholder="Resource Type" *ngFor="let resourceType of resourceTypes | enumToArray" value="{{resourceTypes[resourceType]}}">
          {{resourceType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title mat-line>Amount:</mat-card-title>
  <mat-card-content mat-line>
    <input matInput placeholder="Amount" [(ngModel)]="resource.amount">
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title mat-line>Resources Consumed:</mat-card-title>

  <div *ngFor="let resourceConsume of resource.resourceConsumes">
    <mat-card>
      <mat-card-title mat-line>Resource:</mat-card-title>
      <mat-form-field>
        <mat-select [(ngModel)]="resourceConsume.resourceId">
          <mat-option placeholder="Resource" *ngFor="let _resource of resourcesService.resources" value="{{_resource.id}}">
            {{_resource.name | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-title mat-line>Amount:</mat-card-title>
      <input matInput placeholder="Cost" [(ngModel)]="resourceConsume.cost">
    </mat-card>
  </div>
</mat-card>

<mat-card>
  <mat-card-title mat-line>
    <mat-checkbox [(ngModel)]="resource.harvestable">Harvestable</mat-checkbox>
  </mat-card-title>
</mat-card>

<mat-card>
  <mat-card-title mat-line>Harvest Yield:</mat-card-title>
  <mat-card-content mat-line>
    <input matInput placeholder="Harvest Yield" [(ngModel)]="resource.harvestYield">
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title mat-line>Harvest Time (Milliseconds):</mat-card-title>
  <mat-card-content mat-line>
    <input matInput placeholder="Harvest Time" [(ngModel)]="resource.harvestMilliseconds">
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title mat-line>Worker Yield:</mat-card-title>
  <mat-card-content mat-line>
    <input matInput placeholder="Worker Yield" [(ngModel)]="resource.workerYield">
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title mat-line>
    <mat-checkbox [(ngModel)]="resource.sellable">Sellable</mat-checkbox>
  </mat-card-title>
</mat-card>

<mat-card>
  <mat-card-title mat-line>Sells For:</mat-card-title>
  <mat-card-content mat-line>
    <input matInput placeholder="Sells For" [(ngModel)]="resource.sellsFor">
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title mat-line>Resource Description:</mat-card-title>
  <mat-card-content mat-line>
    <input matInput placeholder="Resource Description" [(ngModel)]="resource.resourceDescription">
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title mat-line>Worker Verb:</mat-card-title>
  <mat-card-content mat-line>
    <input matInput placeholder="Worker Verb" [(ngModel)]="resource.workerVerb">
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title mat-line>Worker Noun:</mat-card-title>
  <mat-card-content mat-line>
    <input matInput placeholder="Worker Noun" [(ngModel)]="resource.workerNoun">
  </mat-card-content>
</mat-card>