/* UpgradesComponent's private CSS styles */
.upgrades {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  /* width: 25em; */
}

.upgrades mat-expansion-panel {
  margin: 0;
}

.upgrades mat-expansion-panel-header {
  height: 30px !important;
}

.upgrades mat-card-subtitle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
}

.upgrades button {
  position: relative;
  cursor: pointer;
  margin: .5em;
  padding: .4em 0;
  height: 3.6em;
  width: 100%;
  border-radius: 4px;
}

.upgrades button:hover {
  left: .1em;
}

.upgrades button.mat-disabled {
  cursor: default;
}

.upgrades .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: absolute;
  right: -9px;
  top: 1px;
  height: 1.8em;
  min-width: 16px;
  text-align: center;
  margin-right: .8em;
  border-radius: 0 4px 4px 0;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

.upgrades {
  text-align: center;
}

.upgrade {
  display: inline-block;
  max-width: 300px;
}

.resource-list {
  text-align: center;
}

.resource-list div {
  display: inline-block;
}

.resource-list img {
  width: 16px;
  height: 16px;
}
