/* UpgradesComponent's private CSS styles */
.upgrades {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  /* width: 25em; */
}

.upgrade-container {
  display: inline-block;
}

.upgrades mat-expansion-panel {
  margin: 0;
}

.upgrades mat-expansion-panel-header {
  height: 30px !important;
}

.upgrades button:hover {
  left: .1em;
}

.upgrades button[disabled] {
  cursor: default;
}

.upgrades button[disabled] div {
  color: rgba(0,0,0,.87);
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: Arial;
  min-width: unset;
}

.upgrades {
  text-align: center;
}

.resource-list {
  text-align: center;
}

.resource-list div {
  display: inline-block;
}

.resource-list img {
  width: 16px;
  height: 16px;
}

.check-mark {
  position: absolute;
}
