/* MapComponent's private CSS styles */
:root {
  --detail-tooltip-top: 0px;
  --detail-tooltip-left: 0px;
}

h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607d8b;
}

nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

nav a.active {
  color: #039be5;
}

#canvas-container {
  display: flex;
  height: 100%;
}

#detail-tooltip {
  top: var(--detail-tooltip-top);
  left: var(--detail-tooltip-left);

  position: absolute;
}

mat-card {
  text-align: center;
  max-width: 300px;
}

.resource-list div {
  display: inline-block;
}

.resource-list img {
  width: 16px;
  height: 16px;
}

.repair-container {
  display: inline-flex;
}

.repair-container button {
  position: relative;
  top: -25%;
}

.cursor-tools {
  position: absolute;
  top: 0;

  background: white;
}
