<ul class="resources noselect">
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true"
        *ngFor="let resourceType of resourceTypes | enumToArray">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{resourceType}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button mat-raised-button *ngFor="let resource of resourcesOfType(resourceType, adminService.filterAccessible)"
        [color]="resourcesService.canHarvest(resource.id) ? 'accent' : 'disabled'"
        [disabled]="!resourcesService.canHarvest(resource.id)"
        (mousedown)='startHarvesting(resource.id)' (mouseup)='stopHarvesting(resource.id)' (mouseleave)='stopHarvesting(resource.id)'
        matTooltip="{{getTooltipMessage(resource.id)}}" matTooltipPosition="right">
        <mat-card-title>{{resource.name | titlecase }}</mat-card-title>
        <mat-card-subtitle>{{resource.amount | number:'1.0-0'}}</mat-card-subtitle>
        <mat-progress-bar [class.hidden]="resourceBeingHarvested !== resource.id" class="harvest-progress" [value]="value">
        </mat-progress-bar>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</ul>
