#fighter-tooltip {
  left: 0;
  bottom: 0;

  position: absolute;
}

mat-card {
  text-align: center;
}

.resource-list div {
  display: inline-block;
}

.resource-list img {
  width: 16px;
  height: 16px;
}

.repair-container {
  display: inline-flex;
  white-space: pre-wrap;
}

.repair-container button {
  position: relative;
  top: -25%;
}

.stats-container {
  width: 100%;
}

.upgrade-button {
  width: fit-content;
}

.upgrade-button mat-icon {
  position: relative;
  top: 5px;
}

#card-header {
  float: left;
  max-width: 250px;

  padding-right: 5px;
}

#card-content {
  float: right;

  border: burlywood;
  border-width: 0 0 0 1px;
  border-style: solid;

  padding-left: 5px;
}
