#fighter-tooltip {
  top: var(--detail-tooltip-top);
  left: var(--detail-tooltip-left);

  position: absolute;
}

mat-card {
  text-align: center;
  max-width: 400px;
}

.resource-list div {
  display: inline-block;
}

.resource-list img {
  width: 16px;
  height: 16px;
}

.repair-container {
  display: inline-flex;
  white-space: pre-wrap;
}

.repair-container button {
  position: relative;
  top: -25%;
}

.stats-container {
  display: table;
  width: 100%;
}

.stat-row {
  display: table-row;
}

p, em, .upgrade-button {
  display: table-cell;
}

.upgrade-button {
  width: fit-content;
}

.upgrade-button mat-icon {
  position: relative;
  top: 5px;
}
