<div class="buildings">
  <mat-card class="building" *ngFor="let buildingTile of getBuildingTileArray(true)">
    <button mat-raised-button [color]="selectedBuilding === buildingTile ? 'accent' : ''" [disabled]="!canAffordBuilding(buildingTile.tileType)"
      (click)="selectBuilding(buildingTile)">
      <mat-card-title>{{buildingTile.name}}</mat-card-title>
    </button>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      {{buildingTile.description}}
      <div class="resource-list">
        <div *ngFor="let resourceCost of buildingTile.resourceCosts" matTooltip="{{resourceCost.resourceCost}} {{getResource(resourceCost.resourceId).name | titlecase}}"
          matTooltipPosition="below">
          <img src="{{getResource(resourceCost.resourceId).iconPath}}" alt="{{getResource(resourceCost.resourceId).name}}">
          {{resourceCost.resourceCost}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
