<mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selectedBuilding"
class="buildings">
<mat-button-toggle *ngFor="let buildingTile of getBuildingTileArray(true)" [value]="buildingTile" class="building"
  [disabled]="!canAffordBuilding(buildingTile.tileType)" (click)="mapService.buildingListVisible = false">
  <div class="title" matTooltip="{{buildingTile.description}}" matTooltipPosition="above">
    {{buildingTile.name}}
  </div>
  <div class="resource-list">
    <div *ngFor="let resourceCost of buildingTile.resourceCosts" matTooltip="{{resourceCost.resourceCost}} {{getResource(resourceCost.resourceId).name | titlecase}}"
      matTooltipPosition="below">
      <img src="{{getResource(resourceCost.resourceId).iconPath}}" alt="{{getResource(resourceCost.resourceId).name}}">
      {{resourceCost.resourceCost}}
    </div>
  </div>
</mat-button-toggle>
</mat-button-toggle-group>
