/* BuildingsComponent's private CSS styles */
.buildings {
  position: absolute;
  top: 72px;
  width: 140px;
  display: grid;

  background: white;

  flex-direction: column;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

.resource-list {
  text-align: center;
}

.resource-list div {
  display: inline-block;
}

.resource-list img {
  width: 16px;
  height: 16px;
}
