<mat-vertical-stepper>
  <mat-step *ngIf="!editMode">
    <ng-template matStepLabel>Select Upgrade Template</ng-template>
    <mat-form-field class="full-width">
      <mat-select [(ngModel)]="oldUpgradeId" [compareWith]="compareFn" (selectionChange)="populateUpgrade()">
        <mat-option placeholder="Upgrade Type" *ngFor="let upgrade of upgradesService.upgrades" value="{{upgrade.id}}">
          {{upgrade.name | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Set Upgrade Details</ng-template>
    <mat-form-field class="full-width">
      <mat-select [(ngModel)]="upgrade.upgradeType">
        <mat-option placeholder="Upgrade Type" *ngFor="let upgradeType of upgradeTypes | enumToArray" value="{{upgradeTypes[upgradeType]}}">
          {{upgradeType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Name" [(ngModel)]="upgrade.name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Description" [(ngModel)]="upgrade.description">
    </mat-form-field>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Set Upgrade Effects</ng-template>

    <button mat-raised-button color="accent" (click)="newUpgradeEffect()">Add New Upgrade Effect</button>
    <div *ngFor="let upgradeEffect of upgrade.upgradeEffects">
      <mat-card>
        <button class="inner-delete" mat-raised-button color="warn" (click)="removeUpgradeEffect(upgradeEffect)">Remove Upgrade Effect</button>
        <mat-checkbox [(ngModel)]="upgradeEffect.upgradeIsForWholeType">Upgrade Is For Whole Type</mat-checkbox>

        <div *ngIf="upgradeEffect.upgradeIsForWholeType">
          <mat-form-field class="full-width">
            <mat-select [(ngModel)]="upgradeEffect.resourceType">
              <mat-option placeholder="Resource Type" *ngFor="let resourceType of resourceTypes | enumToArray" value="{{resourceTypes[resourceType]}}">
                {{resourceType}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Max Tier" [(ngModel)]="upgradeEffect.maxTier">
          </mat-form-field>
        </div>
        <div *ngIf="!upgradeEffect.upgradeIsForWholeType">
          <mat-form-field class="full-width">
            <mat-select [(ngModel)]="upgradeEffect.resourceId" [compareWith]="compareFn">
              <mat-option placeholder="Resource Type" *ngFor="let resource of resourcesService.resources" value="{{resource.id}}">
                {{resource.name | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field class="full-width">
          <mat-select [(ngModel)]="upgradeEffect.upgradeVariable">
            <mat-option placeholder="Upgrade Variable" *ngFor="let upgradeVariable of upgradeVariables | enumToArray" value="{{upgradeVariables[upgradeVariable]}}">
              {{upgradeVariable}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="upgradeEffect.upgradeVariable === upgradeVariables.Harvestability || upgradeEffect.upgradeVariable === upgradeVariables.Workable">
          <mat-checkbox [(ngModel)]="upgradeEffect.upgradeFactor">{{upgradeEffect.upgradeVariable | titlecase}}</mat-checkbox>
        </div>
        <div *ngIf="upgradeEffect.upgradeVariable !== upgradeVariables.Harvestability && upgradeEffect.upgradeVariable !== upgradeVariables.Workable">
          <mat-form-field class="full-width">
            <input matInput placeholder="Upgrade Factor" [(ngModel)]="upgradeEffect.upgradeFactor">
          </mat-form-field>
        </div>
      </mat-card>
    </div>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Set Resource Costs</ng-template>
    <button mat-raised-button color="accent" (click)="newResourceCost()">Add New Resouce Cost</button>
    <div *ngFor="let resourceCost of upgrade.resourceCosts">
      <mat-card>
        <button class="inner-delete" mat-raised-button color="warn" (click)="removeResourceCost(resourceCost)">Remove Resource Cost</button>
        <mat-form-field class="full-width">
          <mat-select [(ngModel)]="resourceCost.resourceId" [compareWith]="compareFn">
            <mat-option placeholder="Resource Type" *ngFor="let resource of resourcesService.resources" value="{{resource.id}}">
              {{resource.name | titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Resource Cost" [(ngModel)]="resourceCost.resourceCost">
        </mat-form-field>
      </mat-card>
    </div>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    {{upgrade.name}} configured.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button (click)="saveUpgrade()">Save Upgrade</button>
      <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
