/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.hidden {
  visibility: hidden;
}

.mat-tooltip-panel {
  white-space: pre-line;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mat-badge-medium.mat-badge-above .mat-badge-content.mat-badge-active {
  left: 320px;
  top: 0;
}

.mat-badge-medium.mat-badge-above .mat-badge-content.mat-badge-active {
  left: 320px;
  top: 0;
}

.game-is-mobile .mat-badge-medium.mat-badge-above .mat-badge-content.mat-badge-active {
  left: 181px;
  top: 0;
}

mat-tab-group .mat-tab-body-wrapper {
  overflow: visible;
}

mat-tab-body#mat-tab-content-0-4 {
  overflow: visible;
}

mat-tab-body#mat-tab-content-0-4 div {
  overflow: visible;
}
