/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.hidden {
  visibility: hidden;
}

.mat-tooltip-panel {
  white-space: pre-line;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mat-tab-header.mat-tab-header {
  height: 30px;
}

div.mat-tab-label {
  min-width: 90px;
}

.mat-tab-label .mat-tab-label-content {
  top: 5px;
  position: absolute;
}

mat-tab-group .mat-tab-body-wrapper {
  overflow: visible;
}

mat-tab-body#mat-tab-content-0-4 {
  overflow: visible;
}

mat-tab-body#mat-tab-content-0-4 div {
  overflow: visible;
}

div.sidenav-buttons button.mat-badge-medium.mat-badge-overlap.mat-badge-before span.mat-badge-content {
  top: 0;
  left: 0;
}

mat-sidenav-container.game-sidenav-container mat-sidenav-content {
  overflow-x: hidden;
}

.game-is-mobile app-clicker-main.resource-list {
  width: 100%;
  overflow: hidden;
}

.game-is-mobile ul.resources {
  width: 100%;
}

.color-picker {
  left: 75px !important;
}