/* UnitComponent's private CSS styles */
.units {
  position: absolute;
  top: 72px;
  left: 456px;
  width: 134px;
  display: grid;

  background: white;

  flex-direction: column;
}

.mat-button-toggle {
  font-family: Arial;
}

.mat-button-toggle .button-text-bold {
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
}

.mat-button-toggle-checked .title {
  color: chartreuse;
}

.resource-list {
  text-align: center;
}

.resource-list div {
  display: inline-block;
}

.resource-list img {
  width: 16px;
  height: 16px;
}

