<mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selectedUnitType" class="units">
  <mat-button-toggle *ngFor="let unitType of UnitTypes | enumToArray" [value]="UnitTypes[unitType]" class="unit wood"
    [disabled]="!canAffordUnit(UnitTypes[unitType])" (click)="game.map.unitListVisible = false">
    <div class="title button-text-stroke" matTooltip="{{getUnitData(UnitTypes[unitType]).description}}" matTooltipPosition="above">
      {{getUnitData(UnitTypes[unitType]).name}}
    </div>
    <div class="resource-list">
      <div matTooltip="{{getUnitData(UnitTypes[unitType]).cost | longNumber}} {{getResource('GOLD').name | titlecase}}"
        matTooltipPosition="below" class="button-text-stroke">
        <img id="{{getResource('GOLD').name | resourceId}}" class="resource-img slim-icon" src="assets/sprites/transparent.png" alt="{{getResource('GOLD').name}}">
        {{getUnitData(UnitTypes[unitType]).cost | longNumber}}
      </div>
    </div>
  </mat-button-toggle>
</mat-button-toggle-group>
